<div class="cta__img-bg"></div>
<div class="cta">
    <div class="cta__inner">
        <h2 class="cta__title" *ngIf="mobile">Звоните Нам Прямо Сейчас!</h2>
        <a href="tel:+79017111769" class="cta__button" *ngIf="mobile"><button class="cta__button">ПОЗВОНИТЬ</button></a>
        <h2 class="cta__title" *ngIf="desktop">Оставьте Заявку Прямо Сейчас!</h2>
        <form ngNoForm action="handler.php" method="POST" *ngIf="desktop">
            <input type="tel" class="cta__input" placeholder="Номер телефона" name="phone">
            <input type="text" class="cta__input" placeholder="Имя" name="name">
            <button type="submit">Отправить</button>
        </form>
        <div class="cta__social-wrapper">
            <a href="https://wa.me/79017111769">
                <div class="cta__social-icon"><img src="../../../assets/img/whatsapp-fill.svg"></div>
            </a>
            <a href="https://t.me/fitservMSK">
                <div class="cta__social-icon"><img src="../../../assets/img/telegram-fill.svg"></div>
            </a>
            <a href="https://www.instagram.com/fitserv.ru/">
                <div class="cta__social-icon"><img src="../../../assets/img/instagram-fill.svg"></div>
            </a>
        </div>

    </div>
</div>
<div class="cta__img-bg-btm"></div>