.cta {
    background: #343332;
    & .cta__title {
        color: #F74902;
    }
    & .cta__inner {
        width: 100%;
        max-width: 415px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        & form {
            display: flex;
            flex-direction: column;
            & input {
                margin-bottom: 10px;
                width: 320px;
                background: #343332;
                border: none;
                outline: 0.5px solid #343332;
                transition: all 200ms ease-in-out;
                box-sizing: border-box;
                padding: 10px;
                border-bottom: 0.5px solid #F74902;
                &:focus-visible {
                    transition: all 200ms ease-in-out;
                    outline: 0.5px solid #F74902;
                    border-bottom: 0.5px solid #343332;
                    border-radius: 3px
                }
                &::placeholder {
                    color: rgb(231, 231, 231);
                }
            }
            & button {
                font-family: 'Viaoda Libre', cursive;
                font-size: 24px;
                width: 150px;
                margin: 0 auto;
                border: none;
                background-color: rgba(255, 255, 255, 0);
                color: white;
                margin-top: 20px;
                margin-bottom: 40px;
                transform: scale(1);
                border-bottom: 2px solid #F74902;
                transition: all 300ms ease-in-out;
                &:hover {
                    color: #F74902;
                    transform: scale(1.05);
                    transition: all 300ms ease-in-out;
                    cursor: pointer;
                }
            }
        }
    }
    & .cta__social-wrapper {
        display: flex;
        flex-direction: row;
        width: 130px;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 25px;
    }
}

.cta__img-bg {
    height: 17px;
    margin-bottom: -5px;
    background: url(../../../assets/img/blocksplitter-linear-btm.png);
    background-repeat: repeat-x;
}

.cta__img-bg-btm {
    height: 17px;
    margin-top: -4px;
    background: url(../../../assets/img/blocksplitter-linear-btm2.png);
    background-repeat: repeat-x;
}

.cta__title {
    font-size: 34px;
    font-weight: lighter;
    font-family: 'Viaoda Libre', cursive;
    letter-spacing: -3%;
    font-weight: lighter;
    text-align: center;
    box-sizing: border-box;
    padding: 8px;
}

.cta__button {
    width: 100%;
    max-width: 320px;
    box-shadow: 0 0 17px 20px rgba(#F74902, 0.1);
    background: #F74902;
    border: none;
    height: 50px;
    border-radius: 5px;
    color: #282828;
    transition: all .3s ease;
    &:hover {
        cursor: pointer;
        color: white;
        transition: all .3s ease;
        box-shadow: 0 0 17px 20px rgba(#F74902, 0.25);
    }
}

.cta__social-icon {
    filter: brightness(0.95);
    transition: all 300ms ease-in-out;
}

.cta__social-wrapper {
    a {
        &:hover {
            .cta__social-icon {
                filter: brightness(1.05);
                transform: scale(1.07);
                cursor: pointer;
                transition: all 300ms ease-in-out;
            }
        }
    }
}