<div class="cta__img-bg"></div>
<div class="cta">
    <div class="cta__inner">
        <h2 class="cta__title">Звоните Нам Прямо Сейчас!</h2>
        <a><button>ПОЗВОНИТЬ</button></a>
        <div class="cta__social-wrapper">
            <a>
                <div class="cta__social-icon"><img src="../../../assets/img/whatsapp-fill.svg"></div>
            </a>
            <a>
                <div class="cta__social-icon"><img src="../../../assets/img/telegram-fill.svg"></div>
            </a>
        </div>
    </div>
</div>
<div class="cta__img-bg-btm"></div>