.about__img-bg {
    margin-top: 80px;
    height: 17px;
    overflow: hidden;
    background: url(../../../assets/img/blocksplitter.png);
    background-repeat: repeat-x;
}

.about {
    width: 100%;
    max-width: 1485px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    box-sizing: border-box;
    padding: 8px;
    & .about__title {
        border-bottom: 2px solid #F74902;
        line-height: 42px;
        margin-bottom: 30px;
        font-family: 'Viaoda Libre', cursive;
        font-size: 36px;
        font-weight: lighter;
        letter-spacing: -3%;
    }
}

.about__img {
    width: 100%;
    max-width: 500px;
}

.about__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & .about__text {
        width: 100%;
        max-width: 740px;
        margin-top: 20px;
        font-size: 22px;
        letter-spacing: -3%;
        font-weight: 200;
    }
}

@media screen and (max-width: 968px) {
    .about__block {
        justify-content: center;
    }
}

@media screen and (max-width: 428px) {
    .about__text {
        font-size: 18px;
    }
}