<div class="about__img-bg"></div>
<div class="about" id="about">
  <h2 class="about__title">О Нас</h2>
  <div class="about__block">
    <div class="about__text">
      Мы являемся узнаваемой мастерской в Москве, ведь уже достаточно долго
      оказываем услуги по обтяжке спортивного оборудования. Нам не составит
      никакого труда сделать из старого потрескавшегося тренажёра новый.
      <br /><br />
      Наши сотрудники обладают высоким уровнем мастерства и делают свою работу
      быстро, при этом не теряя качества. Если вы не хотите доставлять
      неудобства своим клиентам и желаете произвести перетяжку тренажеров в
      удобное для Вас время, мы с удовольствием подстроимся под ваш график.
    </div>
    <div class="about__img">
      <img src="../../../assets/img/aboutimg.png" class="about__img" />
    </div>
  </div>
</div>
