<div class="about__img-bg">
</div>
<div class="about" id="about">
    <h2 class="about__title">О Нас</h2>
    <div class="about__block">
        <div class="about__text">Мы являемся узнаваемой мастерской в Москве, ведь уже достаточно долго оказываем услуги по обтяжке спортивного оборудования. Мы начали свою деятельность более 6 лет назад и за это время успели усовершенствоваться, освоив новые материалы. Кроме
            того, что мы можем реанимировать тренажеры, мы предлагаем услуги по перетяжке стульев, диванов, кресел и другой мягкой мебели. Нам не составит никакого труда обновить сложную мебель с каретной стяжкой, а сделать из старого потрескавшегося
            тренажера новый и вовсе очень просто. <br/><br/> Наши сотрудники обладают высоким уровнем мастерства и делают свою работу быстро, при этом не теряя качества. Если вы не хотите доставлять неудобства своим клиентам и желаете произвести перетяжку
            тренажеров в удобное для Вас время, мы с удовольствием подстроимся под ваш график.</div>
        <div class="about__img"><img src="../../../assets/img/aboutimg.png" class="about__img"></div>
    </div>

</div>