<div class="footer-wrapper" id="footer">
    <div class="footer">
        <div class="footer__nav">
            <ul>
                <li>Москва, ул. Подмосковная 12а</li>
                <li><a href="mailto:info@fitserv.ru">info@fitserv.ru</a></li>
                <li><a href="tel:+79017111769">+7 901 711-17-69</a></li>
            </ul>
            <div class="footer__social">
                <a href="https://wa.me/79017111769">
                    <div class="footer__socialmedia-item"><img class="footer__socialmedia-item" src="../../../assets/img/whatsapp-fill.svg"></div>
                </a>
                <a href="https://t.me/fitservMSK">
                    <div class="footer__socialmedia-item"><img class="footer__socialmedia-item" src="../../../assets/img/telegram-fill.svg"></div>
                </a>
                <a href="https://www.instagram.com/fitserv.ru/">
                    <div class="footer__socialmedia-item"><img class="header__nav-socialmedia-item" src="../../../assets/img/instagram-fill.svg"></div>
                </a>
            </div>
        </div>
        <div class="footer__map">
            <a href="https://yandex.ru/maps/-/CCU5Y8sBoC"><img src="../../../assets/img/map.png"></a>
        </div>
    </div>
</div>