.gallery__wrapper {
    width: 100%;
    max-width: 1485px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 8px;
    padding-top: 180px;
    margin-top: -60px;
    background: url(../../../assets/img/gallery-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    & .gallery__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 30px;
        font-family: "Viaoda Libre", cursive;
        font-size: 36px;
        font-weight: 200;
        text-align: center;
        & .before {
            max-width: 150px;
            width: 100%;
        }
        & .after {
            max-width: 150px;
            width: 100%;
        }
    }
    & .gallery {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        & img {
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 868px) {
    .gallery {
        & img {
            max-width: 250px;
        }
    }
}

@media screen and (max-width: 428px) {
    .gallery__wrapper {
        padding-top: 120px;
    }
    .gallery {
        & img {
            max-width: 180px;
        }
    }
}