.gallery__wrapper {
    width: 100%;
    max-width: 1485px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 8px;
    padding-top: 180px;
    margin-top: -60px;
    background: url(../../../assets/img/gallery-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    & .gallery {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        & img {
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
}