<header class="header">
    <div class="header__logo">
        <a [routerLink]="['/']"><img src="../../../assets/img/logo.png"></a>
    </div>
    <ul class="header__nav" *ngIf="!mobile">
        <li class="header__nav-item"><a (click)="onClickScroll('about')">О нас</a></li>
        <li class="header__nav-item"><a (click)="onClickScroll('services')">Услуги</a></li>
        <li class="header__nav-item"><a (click)="onClickScroll('gallery')">Галерея</a></li>
        <li class="header__nav-item"><a (click)="onClickScroll('footer')">Контакты</a></li>
    </ul>
    <div class="header__nav-wrapper">
        <div class="header__nav-socialmedia">
            <a href="https://wa.me/79017111769">
                <div class="header__nav-socialmedia-item"><img class="header__nav-socialmedia-item" src="../../../assets/img/whatsapp-fill.svg"></div>
            </a>
            <a href="https://t.me/fitservMSK">
                <div class="header__nav-socialmedia-item"><img class="header__nav-socialmedia-item" src="../../../assets/img/telegram-fill.svg"></div>
            </a>
            <a href="https://www.instagram.com/fitserv.ru/">
                <div class="header__nav-socialmedia-item"><img class="header__nav-socialmedia-item" src="../../../assets/img/instagram-fill.svg"></div>
            </a>
        </div>
        <div class="header__nav-contacts">
            <a href="tel:+79017111769" class="header__nav-phone">+7 (901) 711 17 69</a>
            <a href="mailto:info@fitserv.ru" class="header__nav-mail">info@fitserv.ru</a>
        </div>
    </div>
    <app-burger *ngIf="mobile"></app-burger>
</header>