<div class="hero">
    <div class="hero__main wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" id="hero">
        <h1 class="hero__main-title">Перетяжка<br/>Тренажеров
        </h1>
        <h2 class="hero__main-subtitle wow animate__animated animate__fadeInDown" data-wow-duration="2s" data-wow-delay="0.8s">Ателье Фитнес - Индустрии</h2>
        <button class="hero__main-button wow animate__animated animate__fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s" (click)="scrollToService('services')">Услуги и Цены</button>
    </div>
</div>