.hero {
    background: url(../../../assets/img/main-bg.png);
    height: 100vh;
    max-height: 1000px;
    margin-top: -125px;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px;
}

.hero__main {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__main-title {
    margin: 0;
    font-size: 62px;
    margin-top: 30px;
    font-weight: 200;
    color: white;
    text-align: center;
}

.hero__main-subtitle {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 40px;
    color: white;
    text-align: center;
}

.hero__main-button {
    font-family: 'Viaoda Libre', cursive;
    font-size: 24px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    margin-bottom: 40px;
    transform: scale(1);
    border-bottom: 2px solid #F74902;
    transition: all 300ms ease-in-out;
    &:hover {
        color: #F74902;
        transform: scale(1.05);
        transition: all 300ms ease-in-out;
        cursor: pointer;
    }
}

#hero {
    position: relative
}

#hero:before,
#hero:after,
#hero>:first-child:before,
#hero>:first-child:after {
    position: absolute;
    content: ' ';
    width: 50px;
    height: 30px;
    border-color: white;
    /* or whatever colour */
    border-style: solid;
    /* or whatever style */
}

#hero:before {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px
}

#hero:after {
    top: 0;
    right: 0;
    border-width: 2px 2px 0 0
}

#hero>:first-child:before {
    bottom: 0;
    right: 0;
    border-width: 0 2px 2px 0
}

#hero>:first-child:after {
    bottom: 0;
    left: 0;
    border-width: 0 0 2px 2px
}

@media screen and (max-width: 428px) {
    .hero {
        background-size: cover;
        background-position: 25% 75%;
    }
}