<div class="hero">
    <div class="hero__main" id="hero">
        <h1 class="hero__main-title">Перетяжка<br/>Тренажеров
        </h1>
        <h2 class="hero__main-subtitle">Замер и смета в день обращения</h2>
        <button class="hero__main-button" (click)="scrollToService('services')">Услуги и Цены</button>
    </div>
</div>