.partners {
    width: 100%;
    max-width: 1485px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 40px;
    & .partners__title {
        border-bottom: 1px solid #F74902;
        line-height: 46px;
        margin-bottom: 60px;
        font-size: 34px;
        font-weight: lighter;
        font-family: 'Viaoda Libre', cursive;
        letter-spacing: -3%;
    }
    & .partners__img {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        & div img {
            margin: 0 auto;
            width: 100%;
        }
    }
}

.main .main-inner {
    max-height: 100px !important;
}

.img-div .image-popup {
    box-shadow: none !important;
}

.image {
    height: auto !important;
}

@media screen and (max-width: 968px) {
    .partners__img {
        justify-content: center!important;
        & div {
            margin-bottom: 10px;
        }
    }
}