<div class="partners">
    <h2 class="partners__title">Наши Партнеры</h2>
    <!-- <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1" [imageSize]="{width: '30%', height: 100}" [animationSpeed]="3" slideImage="3">
    </ng-image-slider> -->
    <div class="partners__img">
        <div class="img"><img src="../../../assets/img/partners5.png"></div>
        <div class="img"><img src="../../../assets/img/partners6.png"></div>
        <div class="img"><img src="../../../assets/img/partners7.png"></div>
    </div>
</div>