.partners {
    width: 100%;
    max-width: 1485px;
    margin: 0 auto;
    margin-top: 40px;
    & .partners__title {
        border-bottom: 1px solid #F74902;
        line-height: 42px;
        margin-bottom: 60px;
    }
}

.main .main-inner {
    max-height: 100px !important;
}

.img-div .image-popup {
    box-shadow: none !important;
}