<div class="advantages__wrapper">
    <div class="advantages__img-bg"></div>
    <div class="advantages">
        <h2 class="advantages__title">Нас Выбирают!</h2>
        <div class="advantages__card card-1" id="advantages__card">
            <div class="advantages__card-img"><img src="../../../assets/img/advicon01.svg" class="advantages__card-img"></div>
            <div class="advantages__card-title">Без забора элемента</div>
        </div>
        <div class="advantages__card card-2" id="advantages__card">
            <div class="advantages__card-img"><img src="../../../assets/img/advicon02.svg" class="advantages__card-img"></div>
            <div class="advantages__card-title">24 часа на перетяжку</div>
        </div>
        <div class="advantages__card card-3" id="advantages__card">
            <div class="advantages__card-img"><img src="../../../assets/img/advicon03.svg" class="advantages__card-img"></div>
            <div class="advantages__card-title">Бесплатный замер</div>
        </div>
    </div>
</div>