.attendance {
    width: 100%;
    max-width: 1485px;
    margin: 0 auto;
    margin-top: 80px;
    box-sizing: border-box;
    padding: 8px;
    & a {
        text-decoration: none;
    }
}

.attendance__card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.attendance__title {
    border-bottom: 2px solid #F74902;
    line-height: 46px;
    font-family: 'Viaoda Libre', cursive;
    font-size: 36px;
    letter-spacing: -3%;
    font-weight: lighter;
}

.attendance__subtitle {
    width: 100%;
    max-width: 720px;
    font-weight: 200;
    font-size: 22px;
}

.attendance__button {
    display: flex;
    align-items: center;
    border: none;
    color: #F74902;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Viaoda Libre', cursive;
    font-size: 24px;
    letter-spacing: -3%;
    transform: scale(1);
    margin-top: 10px;
    transition: all 300ms ease-in-out;
    & img {
        margin-right: 10px;
        margin-top: -4px;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all 300ms ease-in-out;
    }
    &:hover img {
        cursor: pointer;
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
    @keyframes shake {
        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }
        20%,
        80% {
            transform: translate3d(2px, 0, 0);
        }
        30%,
        50%,
        70% {
            transform: translate3d(-4px, 0, 0);
        }
        40%,
        60% {
            transform: translate3d(4px, 0, 0);
        }
    }
}

.attendance__card-section {
    margin-top: 0px;
}

.attendance__card {
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
}

.attendance__card-maintitle {
    position: relative;
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    color: #F74902;
    line-height: 46px;
    &:after {
        content: "";
        background: black;
        position: absolute;
        bottom: -10%;
        left: 12.5%;
        height: 1px;
        width: 75%;
        background: #F74902;
    }
}

.attendance__card-title {
    font-family: 'Viaoda Libre', cursive;
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    & .highlight {
        color: #F74902;
    }
}

.highlight {
    color: #F74902;
    font-size: 36px;
}

.attendance__card .card-wrapper ul {
    list-style-type: none;
    list-style: none;
    padding-inline-start: 88px;
    list-style-image: url("../../../assets/img/smallline.svg");
    & li {
        font-size: 22px;
        font-weight: 200;
        text-align: left;
    }
}

ul li::marker {
    font-size: 36px;
    width: 50%;
}

.attendance__card-img {
    width: 100%;
}

.attendance__card-img img {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px;
}

#attendance-card {
    position: relative
}

#attendance-card:before,
#attendance-card:after,
#attendance-card>:first-child:before,
#attendance-card>:first-child:after {
    position: absolute;
    content: ' ';
    width: 40px;
    height: 40px;
    border-color: #F74902;
    /* or whatever colour */
    border-style: solid;
    /* or whatever style */
}

#attendance-card:before {
    top: 0;
    left: 0;
    border-width: 3px 0 0 3px
}

#attendance-card:after {
    top: 0;
    right: 0;
    border-width: 3px 3px 0 0
}

#attendance-card>:first-child:before {
    bottom: 0;
    right: 0;
    border-width: 0 3px 3px 0
}

#attendance-card>:first-child:after {
    bottom: 0;
    left: 0;
    border-width: 0 0 3px 3px
}

@media screen and (max-width: 1280px) {
    .attendance__card-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 428px) {
    .highlight {
        color: #F74902;
        font-size: 24px;
    }
    .attendance__card .card-wrapper ul {
        list-style-type: none;
        list-style: none;
        padding-inline-start: 40px;
        list-style-image: url("../../../assets/img/smallline.png");
        & li {
            font-size: 18px;
            font-weight: 200;
            text-align: center;
        }
    }
}