<div class="attendance" id="services">
    <h2 class="attendance__title">Услуги и цены</h2>
    <p class="attendance__subtitle">Ниже Вы можете ознакомиться с нашими услугами и ценами на них, если вы не нашли требуемой услуге в списке - свяжитесь с нами !</p>
    <a href="tel:+79017111769"><button class="attendance__button"><img
                src="../../../assets/img/phoneicon.svg">Позвонить</button></a>
    <div class="attendance__card-section">

        <div class="attendance__card">
            <div class="card-wrapper">
                <h2 class="attendance__card-maintitle">Перетяжка тренажеров</h2>
                <div class="attendance__card-img" id="attendance-card">
                    <div><img class="attendance__card-img" src="../../../assets/img/card1.png"></div>
                </div>
                <h3 class="attendance__card-title">от <span class="highlight">1000</span> рублей за 1 элемент тренажера</h3>
                <p>Эти проблемы решаются у нас и имеют недорогое решение - перетяжка тренажеров. Заказывая перетяжку и нас, в кротчайшие сроки вы получаете - высокое качество выполненных работ; огромный выбор цветовой палитры и гарантируемая надежность предлагаемых
                    нами изделий.
                </p>
                <ul>
                    <li>Перетяжка спинки от <span class="highlight">1900</span>&#8381; </li>
                    <li>Перетяжка сиденья от <span class="highlight">1600</span>&#8381;</li>
                    <li>Перетяжка лежака от <span class="highlight">2100</span>&#8381;</li>
                    <li>Перетяжка подголовника от <span class="highlight">1300</span>&#8381;</li>
                    <li>Перетяжка валика с наполнителем от <span class="highlight">1000</span>&#8381;</li>
                </ul>
            </div>
        </div>
        <div class="attendance__card">
            <div class="card-wrapper">
                <h2 class="attendance__card-maintitle">Ремонт тренажеров</h2>
                <div class="attendance__card-img" id="attendance-card">

                    <div><img class="attendance__card-img" src="../../../assets/img/card2.png"></div>
                </div>
                <h3 class="attendance__card-title">от <span class="highlight">1000</span> рублей за 1 элемент тренажера</h3>
                <p>Эти проблемы решаются у нас и имеют недорогое решение - перетяжка тренажеров. Заказывая перетяжку и нас, в кротчайшие сроки вы получаете - высокое качество выполненных работ; огромный выбор цветовой палитры и гарантируемая надежность предлагаемых
                    нами изделий.
                </p>
                <ul>
                    <li>Изготовление защитной накладки <span class="highlight">750</span>&#8381; </li>
                    <li>Наполнитель подушки тренажера от <span class="highlight">500</span>&#8381;</li>
                    <li>Изготовление основы детали от <span class="highlight">500</span>&#8381;</li>
                    <li>Ремонт шва от <span class="highlight">500</span>&#8381;</li>
                </ul>
            </div>
        </div>
    </div>
</div>