<div class="attendance" id="services">
    <h2 class="attendance__title wow animate__animated animate__fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">Услуги и цены</h2>
    <p class="attendance__subtitle wow animate__animated animate__fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">Произведем перетяжку тренажеров без забора элементов тренажера от заказчика.<br/> Как это работает - при первом заказе, мы забераем подушки для снятия параметров. <br/> Затем перетяжка будет производится на месте .</p>
    <a href="tel:+79017111769"><button class="attendance__button wow animate__animated animate__fadeIn" data-wow-duration="2s" data-wow-delay="0.8s"><img
                src="../../../assets/img/phoneicon.svg">Позвонить</button></a>
    <div class="attendance__card-section">

        <div class="attendance__card">
            <div class="card-wrapper">
                <h2 class="attendance__card-maintitle wow animate__animated animate__fadeInLeft" data-wow-duration="2s" data-wow-delay="0.4s">Перетяжка тренажеров</h2>
                <div class="attendance__card-img" id="attendance-card">
                    <div><img class="attendance__card-img wow animate__animated animate__fadeIn" data-wow-duration="2s" data-wow-delay="0.6s" src="../../../assets/img/card1.png"></div>
                </div>
                <h3 class="attendance__card-title">от <span class="highlight">700</span> рублей за 1 элемент тренажера</h3>
                <p>Эти проблемы решаются у нас и имеют недорогое решение - перетяжка тренажеров. Заказывая перетяжку и нас, в кротчайшие сроки вы получаете - высокое качество выполненных работ; огромный выбор цветовой палитры и гарантируемая надежность предлагаемых
                    нами изделий.
                    <br/> Цены указаны за работу и материалы которые мы рекомендуем к применению, износостойкий кожзам с характеристиками 50000 + циклов на истирание.
                </p>
                <ul>
                    <li class="wow animate__animated animate__fadeInDown" data-wow-duration="2s" data-wow-delay="0.2s">Перетяжка спинки от <span class="highlight">1600</span>&#8381; </li>
                    <li class="wow animate__animated animate__fadeInDown" data-wow-duration="2s" data-wow-delay="0.4s">Перетяжка сиденья от <span class="highlight">1300</span>&#8381;</li>
                    <li class="wow animate__animated animate__fadeInDown" data-wow-duration="2s" data-wow-delay="0.6s">Перетяжка лежака от <span class="highlight">1900</span>&#8381;</li>
                    <li class="wow animate__animated animate__fadeInDown" data-wow-duration="2s" data-wow-delay="0.8s">Перетяжка подголовника от <span class="highlight">1000</span>&#8381;</li>
                    <li class="wow animate__animated animate__fadeInDown" data-wow-duration="2s" data-wow-delay="1.0s">Перетяжка валика с наполнителем от <span class="highlight">700</span>&#8381;</li>
                </ul>
            </div>
        </div>
        <div class="attendance__card">
            <div class="card-wrapper">
                <h2 class="attendance__card-maintitle wow animate__animated animate__fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">Ремонт тренажеров</h2>
                <div class="attendance__card-img" id="attendance-card">

                    <div><img class="attendance__card-img wow animate__animated animate__fadeIn" data-wow-duration="2s" data-wow-delay="0.6s" src="../../../assets/img/card2.png"></div>
                </div>
                <h3 class="attendance__card-title">от <span class="highlight">500</span> рублей за 1 элемент тренажера</h3>
                <p>Наш специалист осуществит диагностику и необходимый ремонт. Мастер оценит возможные виды ремонта дорожки. В большинстве случаев ремонт осуществляется на месте, но иногда, ремонт на месте не возможен, в этом случае наши специалисты демонтируют
                    сломанную деталь для ремонта в мастерской.
                </p>
                <ul>
                    <li class="wow animate__animated animate__fadeInDown" data-wow-duration="2s" data-wow-delay="0.2s">Наполнитель подушки тренажера от <span class="highlight">500</span>&#8381;</li>
                    <li class="wow animate__animated animate__fadeInDown" data-wow-duration="2s" data-wow-delay="0.4s">Изготовление основы детали от <span class="highlight">500</span>&#8381;</li>
                    <li class="wow animate__animated animate__fadeInDown" data-wow-duration="2s" data-wow-delay="0.6s">Ремонт шва от <span class="highlight">500</span>&#8381;</li>
                </ul>
            </div>
        </div>
    </div>
</div>