/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import '~normalize.css';
html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.ng-image-slider .ng-image-slider-container .main .main-inner .img-div {
    box-shadow: none !important;
    margin-right: 5px !important;
}